.flash {
    display: flex;
    flex-wrap: wrap;
}

.card-header.correct {
    background: #51be51;
}

.card-reader.incorrect {
    background: red
}

.correct .card-header-title, .incorrect .card-header-title {
    color: white;
}
